<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #ffffff;
    }
  </style>

</head>

<body>
  <div class=e50_2>
    <div class="e41_64"></div><span class="e50_4">FORM ABSENSI WKA</span><span class="e50_5">NAMA KARYAWAN</span><span
      class="e65_3">NS</span><span class="e56_50">FJDSHIFUHSYAUIFYHASUIFHGUEWYUJUHSADSG</span><span
      class="e50_34">DIBUAT OLEH</span><span class="e51_42">KORLAP VENDOR</span><span
      class="e50_37">KARYAWAN</span><span class="e51_44">SDM</span><span class="e51_43">KA. UNIT</span><span
      class="e50_36">MENYETUJUI</span><span class="e50_35">MENGETAHUI</span><span class="e50_27">IN</span><span
      class="e122_36">JIFHUYSDFGUYGFUYWSEGFNDSABFHJSABVFJHSVDFJVXCJHBSDJHFBSAJHDFBJHXBCKJFBHJSADBFJHSDBFJHSDBFJHSDBFHJSDBFHJSBDJHFBSDJHFBSJHDBFJHSDBFJHSDDFVSJHDFVHJSD</span><span
      class="e50_29">OUT</span><span class="e50_20">GRUP KERJA</span><span class="e50_16">MUHAMAD FRENDI DIYON
      ARDIANSAH</span><span class="e50_17">IT / IT</span><span class="e50_18">70004</span><span
      class="e50_33">2023-01-26 17:00</span><span class="e50_32">2023-01-29 07:50</span><span
      class="e50_11">:</span><span class="e50_31">:</span><span class="e50_30">:</span><span
      class="e50_25">:</span><span class="e50_12">:</span><span class="e50_13">:</span><span
      class="e50_15">:</span><span class="e50_6">UNIT/SUB UNIT</span><span class="e50_7">ID KARYAWAN</span><span
      class="e50_9">KETERANGAN</span><span class="e51_45">IT</span>
  </div>
</body>

</html>